.data_container {
    display: flex;
    margin-top: 3rem;
    flex-wrap: wrap;
}

.card-x {
    border-radius: 3px;
    width: 10rem;
}

.card-x:hover {
    box-shadow: .5px .0px .5rem rgba(0, 0, 0, .6);
}

.active {
    color: orangered;
    border-bottom: 1px solid red;
}

.over {

    line-height: 1.5em;
    height: 3em;
    /* height is 2x line-height, so two lines will display */
    overflow: hidden;
    /* prevents extra lines from being visible */

}

.new {
    box-shadow: .5px .5px .3rem rgba(94, 93, 93, 0.6);
}