@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: 'Ubuntu', sans-serif;
    overflow-x: hidden;
}

html::-webkit-scrollbar {
    width: .8rem;
}

html::-webkit-scrollbar-track {
    background-color: gainsboro;
}

html::-webkit-scrollbar-thumb {
    background-color: orangered;
    border-radius: .4rem;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}